.p-paymentSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=2c5a2cf31c693f5c15fb08135bf1adf2&amp;auto=format&amp;fit=crop&amp;w=1347&amp;q=80) 50% 50% / cover;
  height: 496px;
  margin-bottom: 60px;
  @include mobile() {
    position: relative;
    top: 0;
    left: 0;
  }
  &-info{
    width: 190px;
    height: 46px;
    margin-bottom: 52px;
  }
}
.p-progressBar-3 {
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin-bottom: 30px;
  position: relative;
  &::after {
    background-color: $primary-dark;
    height: 1px;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 0;
  }
  li {
    color: $primary-dark;
    background: #CED1D6;
    border-radius: 50%;
    font-size: 20px;
    z-index: 2;
  }
}

.p-continue-btn {
  background: $secondary;
  border: 0;
  color: $primary-dark;
  display: block;
  font-size: 24px;
  line-height: 33px;
  padding: 17px 102px;
  text-align: center;
  text-decoration: none;
  @include mobile() {
    position: absolute;
    padding: 0;
    line-height: 60px;
    width: 100%;
    top: 100%;
    left: 0;
  }
  &:hover {
    color: $danger;
    transition: .3s;
  }
}
